*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background:rgb(13, 186, 199);
    background-size: cover;
    background-position: center;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .log{
    color: rgb(8, 10, 10);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

header .Navigation a{
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 20px;
    text-decoration: none;
    padding: 2px 15px;
    text-transform: capitalize;
    transition: all ease .3s;
}
header .Navigation a:not(:last-child){
     margin-right: 30px;
}
header .Navigation a:hover{
     background: #ffff;
}
.contact{
    max-width: 650px;
    margin: 60px 100px;
   
}
.contact .info h2{
    color: #226A80;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.contact .info h2 span{
    color: aliceblue;
    font-size: 50px;
    font-weight: 600;
}
.contact .info p{
    font-size: 20px;
    margin-bottom: 60px;
}
.contact .btn{
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    background:#226A80;
    color: aliceblue;
    padding: 5px 20px;
    border-radius: 7px;
    transition: all 0.4s ;
    transition-property:background;
}
.contact .btn:hover{
    background: #133b47;
}
.Media_Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: auto;
}
.Media_Icon i{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: all 0.3s;
    cursor: pointer;
}
.Media_Icon i:not(:last-child){
   margin-right: 80px;
}
.Media_Icon i:hover{
    transform: scale(2.5);
}


/* Responsive*/

label{
    display: none;
}
label i{
    font-size: 35px;
}
#chack{
    z-index: 3;
    display: none;
}

@media (max-width:960px){
    header .Navigation {
        display: none;
    }
    label{
        display: block;
        transition: all ease .3s;
    }
    label:hover{
        color: #ffff;
        cursor: pointer;
    }
    label .close-btn{
        display: none;
    }
    #chack:checked ~ header .Navigation{
        z-index: 2;
        position: fixed;
        background: rgb(13, 186, 199 , 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #chack:checked ~ header .Navigation a{
        font-size: 700;
        margin-right: 0;
        margin-bottom:50px ;
        letter-spacing: 2px;
    }
    #chack:checked ~ header label  .menu-btn{
        display: none;
    }
    #chack:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
    }
    header .log{
        position: absolute;
        bottom: -4px;
    }
    .contact .info h2{
        font-size: 40px;
        font-weight: 600;
    }
    .contact .info h2 span{
        font-size: 35px;
        font-weight: 600;
    }
    .contact .info p{
        font-size: 18px;
    }

}
@media (max-width:560px){
    .contact .info h2{
        font-size: 30px;
        font-weight: 600;
    }
    .contact .info h2 span{
        font-size: 25px;
        font-weight: 600;
    }
    .contact .info p{
        font-size: 14px;
    }
    header .log{
        font-size: 15px; 
    }
    label .menu-btn{
        position: absolute;
        font-size: 23px;
        bottom: -6px;
    }
     .contact .info h2{
        font-size: 30px;
        font-weight: 300;
    }
    .contact .info h2 span{
        font-size: 25px;
        font-weight: 300;
    }
    .contact .info p{
        font-size: 15px;
    }

}

